body {
	padding-top: 2em;
}

code {
	font-family: monospace;
}

#left-nav {
	/*background-color: red;*/
}

#left-nav li {
	list-style: none;
}

#left-nav ul {
	padding-left: 1.5em;
}

#right-col {
	/*background-color: blue;*/
}

#top-nav {
	padding-left: 0;
	margin-bottom: 1em;
	height: 5em;
	/*background-color: green;*/
}

#top-nav > div {
	/*border: 1px black solid;*/
	height: 100%;
	text-align: center;
	vertical-align: middle;
	line-height: 5em;
	background-color: green;
}

#top-nav li{
	display: inline;
	list-style: none;
	vertical-align: middle;
	border: 1px black solid;
	line-height: 100%;
	/*padding: 3em;*/
}

#bottom-bar {
	background-color: yellow;
	padding: 1em;
}

#bottom-bar pre, #bottom-bar code {
	padding: 0;
	margin: 0;
}

#webchat {
   border: 1px black solid;
   border-right-style:none;
   border-left-style:none;
   width:647px;
}
