{% extends "base.html" %}

{% block content %}
<center>
<b><font size="5">{{course}} <br /> Add New User</font></b>
</center>

<p><b><font size ="3">Search for Username</font></b></p>

<form name="search" action="{{url}}search/" method="post">
First name:
<input type="text" name="firstname" />
<br />
Last name:
<input type="text" name="lastname" />
<input type="text"
<br />
<input type="submit" value="Search" />
</form>
	{% block table %}
	{% endblock table %}
<br/>

<form name="inputUser" action="" method="post">
Username:
<input type="text" name="username" />
<input type="submit" value="Submit" />
</form>

<form method="link" action="cancel/">
<br/>
<input type="submit" value="Cancel">
</form>
{% endblock %}
