<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<title>CSTutor</title>
	
	<link rel="stylesheet" href="/media/css/blueprint/screen.css" type="text/css" media="screen, projection" />
	<link rel="stylesheet" href="/media/css/blueprint/print.css" type="text/css" media="print" />
	<!--[if lt IE 8]><link rel="stylesheet" href="/media/css/blueprint/ie.css" type="text/css" media="screen, projection" /><![endif]-->
	<link rel="stylesheet" href="/media/css/style.css" type="text/css" />

   {% block meta %}
   {% endblock meta %}
	
	<script type="text/javascript" src="/media/js/jquery.min.js"></script>
</head>
<body>
	<div class="container showgrid">
		<div id="left-nav" class="span-6">
			<ul>
				<li>
					<form action="/create-course/">
						<input type="submit" value="Create Course" />
					</form>
				</li>
				<li>
					<form action="/join-course/">
						<input type="submit" value="Join Course" />
					</form>
				</li>
				<li>
					<ul id="course-list">
						{% for course in courses %}
						<li>
							<a href="/{{course.slug}}/">{{course}}</a>
							<ul class="page-list">
								{% for page in course.pages.all %}
								<li><a href="/{{course.slug}}/{{page.slug}}/">{{page}}</a>
								</li>
								{% endfor %}
							</ul>
						</li>
						{% endfor %}
					</ul><!-- #course-list -->
				</li>
				<li>
					<form action="/create-quiz/">
						<input type="submit" value="Create Quiz"/>
					</form>
				</li>
				<li>
					<form action="/create-lesson/">
						<input type="submit" value="Create Lesson" />
					</form>
				</li>
			</ul>
		</div><!-- #left-nav .span-4 -->
		<div id="right-col" class="span-18 last">
			<div id="top-nav" class="span-18 last">
				<div class="span-2"><a href="/">Home</a></div>
				<div class="span-2"><a href="/stats/">Stats</a></div>
				{% if course_slug %}
				<div class="span-2"><a href="/{{course_slug}}/roster/">Roster</a></div>
				<div class="span-2"><a href="/chat/{{course_slug}}" target="_blank">Chat</a></div>
				{% endif %}
				<div class="span-2"><a href="edit/">Edit</a></div>
				<div class="span-2"><a href="/help/">Help</a></div>
				<div class="span-6 last" style="line-height: normal;">
					{% if user.is_authenticated %}
					<div class="span-6 last" style="line-height: 2.5em;">
						Welcome, {{user.get_full_name}}
					</div>
					<div class="span-3">
						<a href = "/logout/">Logout</a>
					</div>
					<div class="span-3 last">
						<a href="/profile/">Profile</a>
					</div>
					{% else %}
					<div style="line-height: 5em;">
						<a href="/login/">Login</a>
					</div>
					{% endif %}
				</div>
			</div><!-- #top-nav -->
			<div id="main-content">
				{% block content %}
				{% endblock %}
			</div><!-- #main-content -->
		</div><!-- #right-col .span-20 -->
	</div><!-- .container -->
</body>
</html>
