<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<title>CSTutor</title>
	
	<link rel="stylesheet" href="/media/css/blueprint/screen.css" type="text/css" media="screen, projection" />
	<link rel="stylesheet" href="/media/css/blueprint/print.css" type="text/css" media="print" />
	<!--[if lt IE 8]><link rel="stylesheet" href="/media/css/blueprint/ie.css" type="text/css" media="screen, projection" /><![endif]-->
	<link rel="stylesheet" href="/media/css/style.css" type="text/css" />
	<link rel="stylesheet" href="/media/css/themes/{{THEME}}.css" type="text/css" />

   {% block meta %}
   {% endblock meta %}
	
	<script type="text/javascript" src="/media/js/jquery.min.js"></script>
</head>
<body>
	<div class="container showgrid">
		<!-- we have 24 columns across to split among these divs -->
		<div id="top-nav" class="span-24 last">
			<div id="nav">
				<div class="span-3"><a href="{% url home.views.index %}">Home</a></div>
				{% if course_slug %}
				<div class="span-3"><a href="{% url stats.views.display_course_stats course_slug %}">Stats</a></div>
				<div class="span-3"><a href="{% url courses.views.show_roster course_slug %}">Roster</a></div>
				<div class="span-3"><a href="" target="_blank">Chat</a></div>
				{% if page_slug %}
				<div class="span-3"><a href="{% url pages.views.edit_page course_slug page_slug %}">Edit</a></div>
				{% endif %}
				{% endif %}
				<div class="span-3"><a href="/help/">Help</a></div>
			</div>
			<div id="user" class="span-6 last" style="line-height: normal; float: right;">
				{% if user.is_authenticated %}
				<div class="span-6 last" style="line-height: 2.5em;">
					Welcome, {{user.get_full_name}}
				</div>
				<div class="span-3">
					<a href = "{% url users.views.show_logout %}">Logout</a>
				</div>
				<div class="span-3 last">
					<a href="{% url users.views.show_profile %}">Profile</a>
				</div>
				{% else %}
				<div style="line-height: 5em;">
					<a href="{% url users.views.show_login %}">Login</a>
				</div>
				{% endif %}
			</div>
		</div><!-- #top-nav -->
		<div id="left-nav" class="span-6">
			<ul>
				<li>
					<a class="button" href="{% url courses.views.create_course %}">
						Create Course
					</a>
				</li>
				<li>
					<a class="button" href="{% url courses.views.join_course_form %}">
						Join Course
					</a>
				</li>
				<li>
					<ul id="page-list">
						{% for course in courses %}
							{% for page in course.tableOfContents %}
							{% ifequal page "in" %}
							<li style="list-style: none;">
							<ul>
							{% else %} {% ifequal page "out" %}
							</ul>
							</li>
							{% else %} {% if forloop.first %}
								<li><a href="{% url courses.views.show_course course.slug %}">{{page}}</a>
								</li>
							{% else %}
								<li><a href="{% url pages.views.show_page course.slug page.slug %}">{{page}}</a>
								</li>
							{% endif %} {% endifequal %} {% endifequal %} 
							{% endfor %}
						{% endfor %}
					</ul><!-- #page-list -->
				</li>
				{% if create_enabled %}
				<li>
					<a class="button" href="{% url pages.quiz.views.create_quiz course_slug page_slug %}">
						Create Quiz
					</a>
				</li>
				<li>
					<a class="button" href="{% url pages.lesson.views.create_lesson course_slug page_slug %}">
						Create Lesson
					</a>
				</li>
				{% endif %}
			</ul>
		</div><!-- #left-nav .span-6 -->
		<div id="right-col" class="span-18 last">
			<div id="main-content">
				{% block content %}
				{% endblock %}
			</div><!-- #main-content -->
			<div id="bottom-bar">
				{% block bottombar %}
				{% endblock %}
			</div>
		</div><!-- #right-col .span-18 -->
	</div><!-- .container -->
</body>
</html>
