<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<title>CSTutor</title>
	
	<link rel="stylesheet" href="/media/css/blueprint/screen.css" type="text/css" media="screen, projection" />
	<link rel="stylesheet" href="/media/css/blueprint/print.css" type="text/css" media="print" />
	<!--[if lt IE 8]><link rel="stylesheet" href="/media/css/blueprint/ie.css" type="text/css" media="screen, projection" /><![endif]-->
	<link rel="stylesheet" href="/media/css/style.css" type="text/css" />
	<link rel="stylesheet" href="/media/css/themes/{{THEME}}.css" type="text/css" />
	<script type="text/javascript" src="/media/js/jquery.min.js"></script>
	<script type="text/javascript">
		// jquery.escape 1.0 - escape strings for use in jQuery selectors
		// http://ianloic.com/tag/jquery.escape
		// Copyright 2009 Ian McKellar <http://ian.mckellar.org/>
		// Just like jQuery you can use it under either the MIT license or the GPL
		// (see: http://docs.jquery.com/License)
		(function() {
		escape_re = /[#;&,\.\+\*~':"!\^\$\[\]\(\)=>|\/\\]/;
		jQuery.escape = function jQuery$escape(s) {
		  var left = s.split(escape_re, 1)[0];
		  if (left == s) return s;
		  return left + '\\' + 
			s.substr(left.length, 1) + 
			jQuery.escape(s.substr(left.length+1));
		}
		})();
	</script>
	<script type="text/javascript">
		$(document).ready(function() {
			// no collapsibles at the end of the line
			$('#page-list li').each(function() {
				// apparently, an empty array evals to true in javascript
				if ($(this).children('ul').length == 0) {
					$(this).children('img').remove();
				}
			});
			
			// show plus/minus pseudo-bullets
			$('#page-list li img').show();
			
			// set them to toggle lower menu items
			$('#page-list li img').click(function() {
				$(this).next().next().toggle();
				return false;
			});
			
			// oh, and we want the image to change, so it acts like
			// every other tree-toggling navigation system out there
			$('#page-list li img').toggle(
				function(){ $(this).attr("src", "/media/images/minus.png"); },
				function(){ $(this).attr("src", "/media/images/plus.png"); }
			);
			
			// now collapse everything to begin with
			$('#page-list li ul').hide();
			
			// oh, except whatever page we're on, and its parents
			var anchor = $('a[href='+$.escape(window.location.pathname)+']');
			// anchor.parent() gets us the <li> we're on,
			// but we don't really want to expand that,
			// so we go up another one
			var parent = anchor.parent().parent().parent();
			while (parent.is('li')) {
				// simulate a click (expand and stuff)
				parent.children('img').click();
				// up two because of the nested <ul>s
				parent = parent.parent().parent();
			}
		});
	</script>
   {% block meta %}
   {% endblock meta %}
</head>
<body>
<noscript>
<p>
It looks like you have javascript disabled.  Some site features may not work, but you should be alright in general
</p>
</noscript>
	<div class="container showgrid">
		<!-- we have 24 columns across to split among these divs -->
		<div id="top-nav" class="span-24 last">
			<div id="nav">
				<div class="span-3"><a href="{% url home.views.show_homepage %}">Home</a></div>
				{% if course_slug %}
				<div class="span-3"><a href="{% url stats.views.display_course_stats course_slug %}">Stats</a></div>
				<div class="span-3"><a href="{% url courses.views.show_roster course_slug %}">Roster</a></div>
				<div class="span-3"><a href="{% url courses.views.show_chat course_slug %}">Chat</a></div>
				{% else %}
				<div class="span-3 nav-disabled">Stats</div>
				<div class="span-3 nav-disabled">Roster</div>
				<div class="span-3 nav-disabled">Chat</div>
				{% endif %}

				{% if page_slug %}
				<div class="span-3"><a href="{% url pages.views.edit_page course_slug page_slug %}">Edit</a></div>
				{% else %}
				<div class="span-3 nav-disabled">Edit</div>
				{% endif %}
				<div class="span-3"><a href="{% url home.views.show_help %}">Help</a></div>
			</div>
			<div id="user" class="span-6 last" style="line-height: normal; float: right;">
				{% if user.is_authenticated %}
				<div class="span-6 last" style="line-height: 2.5em;">
					Welcome, {{user.get_full_name}}
				</div>
				<div class="span-3">
					<a href = "{% url users.views.show_logout %}">Logout</a>
				</div>
				<div class="span-3 last">
					<a href="{% url users.views.show_profile %}">Profile</a>
				</div>
				{% else %}
				<div style="line-height: 5em;">
					<a href="{% url users.views.show_login %}">Login</a>
				</div>
				{% endif %}
			</div>
		</div><!-- #top-nav -->
		<div id="left-nav" class="span-6">
			<ul>
				<li>
					<a class="button" href="{% url courses.views.create_course %}">
						Create Course
					</a>
				</li>
				<li>
					<a class="button" href="{% url courses.views.join_course_form %}">
						Join Course
					</a>
				</li>
				<li>
					<ul id="page-list">
						{% for course in courses %}
							{% for page in course.tableOfContents %}
								{% ifequal page "in" %}
									<ul>
								{% else %}
									{% ifequal page "out" %}
										</li>
										</ul>
									{% else %}
										{% if not forloop.first %}
											</li>
										{% endif %}
										{% comment %} The negative left margin on the image is to offset it being there, so things line up. {% endcomment %}
										<li><img src="/media/images/plus.png" style="display: none; margin-left: -8px;" /><a href="{% url pages.views.show_page course.slug page.slug %}">{{page}}</a>
									{% endifequal %}
								{% endifequal %}
							{% endfor %}
						{% endfor %}
					</ul><!-- #page-list -->
				</li>
				<li>
					<a class=
					{% if create_enabled %}
						"button" href="{% url pages.lesson.views.create_lesson course_slug page_slug %}"
					{% else %}
						"button button-disabled"
					{% endif %}>
						Create Lesson
					</a>
				</li>
				<li>
					<a class=
					{% if create_enabled %}
						"button" href="{% url pages.quiz.views.create_quiz course_slug page_slug %}"
					{% else %}
						"button button-disabled"
					{% endif %}>
						Create Quiz
					</a>
				</li>
			</ul>
		</div><!-- #left-nav .span-6 -->
		<div id="right-col" class="span-18 last">
			<div id="main-content">
				{% block content %}
				{% endblock %}
			</div><!-- #main-content -->
			<div id="bottom-bar">
				{% block bottombar %}
				{% endblock %}
			</div>
		</div><!-- #right-col .span-18 -->
	</div><!-- .container -->
</body>
</html>
