{% extends "base.html" %}
{% load smart_if %}

{% block content %}
<form name="Quiz" method="post">
<center><b><input type="text" name="quizTitle" value="{{quiz.text}}" /></b></center>
<table>
{% for q in questions %}
	{% if q.multiplechoicequestion %}
		<tr>
	                <td><input type="text" name="mcq{{q.multiplechoicequestion.order}}order" value="{{q.multiplechoicequestion.order}}" size="3" /></td>
	                <td colspan="2"><textarea name="mcq{{q.multiplechoicequestion.order}}text" style="height: 5em; width: 40em;">{{q.multiplechoicequestion.text}}</textarea><input type="submit" name="removeQuestion{{q.multiplechoicequestion.order}}" value="X" /></td>
			<td>Correct</td>
	        </tr>
	        {% for a in q.multiplechoicequestion.answers.all %}
	        <tr>
	            <td></td>
	            <td><input type="radio" name="mcq{{q.multiplechoicequestion.order}}a" disabled="disabled" /></td>
	        	<td><input type="text" name="mcq{{q.multiplechoicequestion.order}}a{{a.order}}" value="{{a.text}}" /><input type="submit" name="removeAnswerQ{{q.multiplechoicequestion.order}}A{{a.order}}" value="X" /></td>
				<td>
					{% if a.correct %}
					<input type="radio" name="mcq{{q.multiplechoicequestion.order}}ac" value="{{a.order}}" checked="checked"/>
					{% else %}
					<input type="radio" name="mcq{{q.multiplechoicequestion.order}}ac" value="{{a.order}}"/>
					{% endif %}
				</td>
	        </tr>
		{% endfor %}
			<tr>
				<td></td>
				<td></td>
				<td><input type="submit" value="Add Answer" name="addAnswer{{q.multiplechoicequestion.order}}" /></td>
			</tr>
	{% endif %}
	{% if q.codequestion %}
	        <tr>
	                <td><input type="text" name="cq{{q.codequestion.order}}order" value="{{q.codequestion.order}}" size="3" /></td>
	                <td colspan="2"><textarea name="cq{{q.codequestion.order}}text" style="height: 5em; width: 40em;">{{q.codequestion.text}}</textarea><input type="submit" name="removeQuestion{{q.codequestion.order}}" value="X" /></td>
			<td><input type="button" value="Edit" />
	        </tr>
	{% endif %}
{% endfor %}
</table>
{% endblock %}

{% block bottombar %}
<table style="border-width: 1px; padding: 1px; border-style: dashed; border-color: black;">
		<tr>
			<td rowspan="3" style="border-width: 1px; padding: 1px; border-style: dashed; border-color: black;">
				Prerequisites
				<br>
				<select size="4" multiple="multiple">
				{% for page in pages %}
					<option>{{page.name}}</option>
				{% endfor %}
				</select>
				<br>
				Hidden:
				{% if quiz.hidden %}
					<input type="checkbox" name="hidden" checked="checked" />
				{% else %}
					<input type="checkbox" name="hidden" />
				{% endif %}
			</td>
			<td>
				<input type="submit" value="New Code Question" onclick="newCodeQuestion()"/>
			</td>
			<td rowspan="2" style="border-width: 1px; padding: 1px; border-style: dashed; border-color: black;">
				<table>
					<tr>
						<td colspan="2">
							Quiz Paths
						</td>
					</tr>
					<tr>
						<td rowspan="3">
							<select size="4" multiple="multiple">
							<option>< 60% ---> Loops</option><option>Between 60% and 74% ---> </option><option>>= 75% ---> Pointers</option>
							</select>
						</td>
						<td>
							<input type="submit" value="Add" onclick="addPath()"/>
						</td>
					</tr>
					<tr>
						<td>
							<input type="submit" value="Remove" onclick="removePath()"/>
						</td>
					</tr>
					<tr>
						<td>
							<input type="submit" value="Edit" onclick="editPath()"/>
						</td>
					</tr>
				</table>
			</td>
		</tr>
		<tr>
			<td>
				<input type="submit" value="New Multiple Choice Question" name="NewMultQuestion"/>
			</td>
		</tr>
		<tr>
			<td colspan="2">
				<input type="submit" value="Save" name="Save" />
				<input type="submit" value="Cancel" name="Cancel" />
				<input type="submit" value="Delete" name = "Delete" />
				<input type="submit" value="Publish" onclick="publishQuiz()"/>
				<input type="submit" value="Import" onclick="importQuiz()";/>
			</td>
		</tr>
</table>
</form>
{% endblock %}
