{% extends "base.html" %}

{% block content %}
<center><b><font size="4">{{quizTitle}}</font></b></center>
<table>
{% for mcq in mcQuestions %}
	<tr>
		<td><b>Q.</b></td>
		<td colspan="2">{{mcq.text}}</td>
	</tr>
	{% for a in mcq.answers.all %}
	<tr>
		<td></td>
		<td><input type="radio" name="group1"/></td>
		<td>{{a.text}}</td>
	</tr>
	{% endfor %}
{% endfor %}
</table>
<table>
{% for cq in codeQuestions %}
	<tr>
		<td><b>Q.</b></td>
		<td>{{cq.text}}</td>
	</tr>
	<tr>
		<td></td>
		<td><textarea style="height: 10em; width: 20em;"></textarea></td>

	</tr>
{% endfor %}
</table>
{% endblock %}
