{% extends "base.html" %}
{% comment %} Displays aggrigate stats for a particular course.

@author Andrew J. Musselman 
{% endcomment %}

{% block content %}
    <h2>{{course}} Statistics</h2>
	<h3>Per-Quiz Statistics (best scores)</h3>
	<table>
		<thead>
			<th>Quiz</th>
			<th>Number of Student Results</th>
			<th>High Score</th>
			<th>Low Score</th>
			<th>Average Score</th>
		</thead>
		<tr>
		{% for quizAggregate in bestQuizAggregates %}
			<td>
				{{ quizAggregate.page_name }}
			</td>
			<td>
				{{ quizAggregate.result_count}}
			</td>
			<td>
				{{ quizAggregate.result_max|floatformat:"-3" }}%
			</td>
			<td>
				{{ quizAggregate.result_min|floatformat:"-3" }}%
			</td>
			<td>
				{{ quizAggregate.result_avg|floatformat:"-3" }}%
			</td>
		{% endfor %}
		</tr>
	</table>
	<h3>Per-Student Statistics (best scores)</h3>
    <table>
        <thead>
            <th>Student</th>
			<th>Quizzes Taken</th>
            <th>Average</th>
            <th>Min</th>
			<th>Max</th>
		</thead>
        {% for userAggregate in bestUserAggregates %}
            <tr>
				<td>{{userAggregate.user_name}}</td>
				<td>{{userAggregate.result_count}}</td>
				<td>{{userAggregate.result_avg|floatformat:"-3"}}%</td>
				<td>{{userAggregate.result_max|floatformat:"-3"}}%</td>
				<td>{{userAggregate.result_min|floatformat:"-3"}}%</td>
			</tr>
        {% endfor %}
    </table>

{% endblock %}

