{% extends "base.html" %}
{% comment %} Displays all stats for all courses. This is intended for 
testing/debugging, and will not be shown to most users. 

@author Andrew J. Musselman 
{% endcomment %}

{% block content %}
    <h2>{{course}} Statistics</h2>
    <table>
        <tr>
            <th>Student</th>
            <th>Quiz X (Ond of these will appear for eah quiz)</th></tr>
        {% for enrollment in course.roster.all %}
            <tr><td>{{enrollment.user}}</td><td> 100/100 (Pass)</td></tr>
        {% endfor %}
    </table>

{% endblock %}

