{% extends "base.html" %}

{% block content %}
<center>
<b><font size="5">{{course}} User list</size></b>
</center>
<form method="link" action="{% url courses.views.add_user course_slug %}">
		<input type="submit" value="Add User">
</form>
<table>
	<tr>
		
		<td><center><b><font size="3">Name</font></center></td>
		<td><center><b><font size="3">Username</font></center></td>
		<td><center><b><font size="3">Edit</font></b></center></td>
		<td><center><b><font size="3">Manage</font></b></center></td>
		<td><center><b><font size="3">Stats</font></b></center></td>
		<td><center><b><font size="3">Remove User</font></center></td>
	</tr>
	<form name="remove" action="{% url courses.views.update_roster course_slug %}" method="post">
		<input type="submit" name="Update Roster" value="Update Roster" />
	{% for enrollment in enrollments %}
	{% if enrollment.view %}
	<tr>	
	<td><center>{{enrollment.user.first_name}} {{enrollment.user.last_name}}</center></td>
	<td><center>{{enrollment.user.username}}</center></td>
	<td>	{% if enrollment.edit %}
				<center>
				<input type="checkbox" name="edit" value="{{enrollment.user.username}}" checked="yes"/>
				</center>
			{% else %}
				<center>
				<input type="checkbox" name ="edit" value="{{enrollment.user.username}}"/>
				</center>
			{% endif %}</td>
	<td>{% if enrollment.manage %}
				<center>
				<input type="checkbox" name="manage" value="{{enrollment.user.username}}" checked="yes"/>
				</center>
			{% else %}
				<center>
				<input type="checkbox" name ="manage" value="{{enrollment.user.username}}"/>
				</center>
			{% endif %}</td>
	<td>{% if enrollment.stats %}
				<center>
				<input type="checkbox" name="stats" value="{{enrollment.user.username}}" checked="yes"/>
				</center>
			{% else %}
				<center>
				<input type="checkbox" name ="stats" value="{{enrollment.user.username}}"/>
				</center>
			{% endif %}</td>
		<td>
		<center>
		<input type="checkbox" name="remove" value="{{enrollment.user.username}}"/>
		</center>
		</td>	
	</tr>
	{% endif %}
	{% endfor%}
	</form>
</table>
<br />
{% if course.private %}
<p>
<center>
<b><font size="5">Pending Requests for {{course}}</size></b>
</center>
<table>
	<form name="pending" action="{% url courses.views.manage_pending_request course_slug %}" method="post">
	<tr>
		<td><center><b><font size="3">Accept</font></b></center></td>
		<td><center><b><font size="3">Deny</font></b></center></td>
		<td><center><b><font size="3">Name</font></b></center></td>
		<td><center><b><font size="3">Date</font></b></center></td>
	</tr>
	{% for enrollment in enrollments %}
		{% if not enrollment.view %}		
		<tr>	
			<td><center><input type="checkbox" name="accept" value="{{enrollment.user.username}}" /></center></td>
			<td><center><input type="checkbox" name="deny" value="{{enrollment.user.username}}" /></center></td>		
			<td><center>{{enrollment.user.username}}</center></td>
		</tr>
		{% endif %}
	{% endfor %}
		<input type="submit" name="Pending Request" value="Update Pending" />
	</form>
</table>
</p>
{% endif %}
{% endblock %}
