{% extends "base.html" %}

{% block content %}
<center>
<b><font size="5">{{course}} User list</size></b>
</center>
<table>
	<tr>
		<td>Name</td><td>Edit</td><td>Manage</td><td>Stats</td>
	</tr>
	{% for enrollment in enrollments%}
	<tr>		
	<td>{{enrollment.user.first_name}} {{enrollment.user.last_name}}</td>
	<td>{{enrollment.edit}}</td>
	<td>{{enrollment.manage}}</td>
	<td>{{enrollment.stats}}</td>
	</tr>
	{% endfor%}
</table>	
<button type=SUBMIT><strong>Add User</strong></button>
<button type=SUBMIT><strong>Remove User</strong></button>
{% endblock %}
