{% extends "base.html" %}
{% load smart_if %}

{% block content %}
{% if path %}
	{{path.text}}<br/><br/>
{% endif %}
<table>
	<tr>
		<td>Your Score</td>
		<td>{{score}}</td>
	</tr>
	<tr>
		<td>Max Score</td>
		<td>{{maxScore}}</td>
	</tr>
	<tr>
		<td>Percentage</td>
		<td>{{percentage}}</td>
	</tr>
	{% if path %}
		<tr>
			<td>Result</td>
			<td>{% if path.passed %} Pass {% else %} Fail {% endif %}</td>
		</tr>
	{% endif %}
</table>
{% if path %}
Next Page:&nbsp;<a href="{% url pages.views.show_page course_slug path.toPage.slug %}">{{path.toPage.name}}</a>
{% endif %}
{% endblock %}
