{% extends "base.html" %} 

{% block content %} 
<p> We're sorry, you do not have permission to view this page.
{% if enrolled %}
It appears as though your enrollment has not been approved by the course owner.
You will have to wait until your enrollment has been approved.
{% else %}
It appears as though you have not enrolled in this course, and the course is
private.  Please visit <a href="{% url courses.views.join_course_form %}"> the course join page</a> to 
request access to this course.

{% endif %}
</p>
{% endblock %} 
