body {
	padding-top: 2em;
}

code {
	font-family: monospace;
}

#top-nav {
	padding-left: 2em;
	margin-bottom: 2em;
	height: 7em;
}

#top-nav #nav > div, #top-nav #user {
	height: 100%;
	text-align: center;
	vertical-align: middle;
	line-height: 3.5em;
}

#top-nav #nav > div {
	font-size: 2em;
}

#top-nav #user {
	height: 7em;
	padding-top: 1.2em;
}

#top-nav li{
	display: inline;
	list-style: none;
	vertical-align: middle;
	border: 1px black solid;
	line-height: 100%;
}

#left-nav {
	overflow: auto;
}

#left-nav li {
	list-style: none;
	margin-top: .2em;
	margin-bottom: .2em;
}

#left-nav ul {
	padding-left: 1.5em;
}

#right-col #main-content {
	line-height: 170%;
	padding-left: 2em;
}

#bottom-bar {
	padding: 1em;
}

#bottom-bar pre, #bottom-bar code {
	padding: 0;
	margin: 0;
}

#webchat {
   border: 1px black solid;
   border-right-style:none;
   border-left-style:none;
   width:647px;
}

.static-code {
   border: 3px black double;
}

/* I have a feeling these two rules are old,
 * but who the hell knows? */
.code-output {
   border: 3px red double;
}

.code-button {
   float: right;
}

.codebox {
	width: 450px;
	height: 200px;
	float: left;
}

.outputbox {
	width: 210px;
	height: 210px;
	padding-top: 12px;
	margin-left: 465px;
	padding-left: 5px;
	/* awesome, but not totally supported */
	word-wrap: break-word;
	/* not so awesome */
	overflow: auto;
}

.nav-button-back {
   float: left;
}

.nav-button-forward {
   float: right;
}

#main-content .subnav {
	margin-bottom: 8px;
}

#main-content .subnav div,
#toolbox div,
#prereqs div {
	height: 100%;
	text-align: center;
	vertical-align: middle;
	line-height: 3em;
	background-color: #1B3672;
	color: white;
	margin-bottom: 3px;
}

#main-content .subnav a {
	color: white;
}

#wysiwyg-box {
	border: 2px #666 dashed;
	padding: 8px;
}

#toolbox :first-child,
#prereqs :first-child,
.toolbox-dialog > :first-child {
	background: none;
	color: #333;
	font-weight: bold;
	font-size: 120%;
}
