{% extends "base.html" %}
{% load smart_if %}

{% block content %}

<script type="text/javascript" src="/media/js/tiny_mce/tiny_mce.js"></script> 
<script type="text/javascript"> 
	tinyMCE.init({
		// General options
		mode : "specific_textareas",
		editor_selector: "mceEditor",
		theme : "advanced",
		plugins : "pagebreak,style,layer,table,save,advhr,advimage,advlink,emotions,iespell,inlinepopups,insertdatetime,preview,media,searchreplace,print,contextmenu,paste,directionality,fullscreen,noneditable,visualchars,nonbreaking,xhtmlxtras,template,wordcount,advlist,autosave",
 
		// Theme options
		theme_advanced_buttons1 : "bold,italic,underline,|,justifyleft,justifycenter,justifyright,justifyfull,fontselect,fontsizeselect",
		theme_advanced_buttons2 : "cut,copy,paste,|,search,replace,|,bullist,numlist,|,outdent,indent,|,undo,redo,|,link,unlink,image,code,|,insertdate,inserttime,preview,|,forecolor,backcolor",

		theme_advanced_toolbar_location : "top",
		theme_advanced_toolbar_align : "left",
		theme_advanced_statusbar_location : "bottom",
		theme_advanced_resizing : true,
 
		// Example content CSS (should be your site CSS)
		content_css : "css/content.css",
 
		// Drop lists for link/image/media/template dialogs
		template_external_list_url : "lists/template_list.js",
		external_link_list_url : "lists/link_list.js",
		external_image_list_url : "lists/image_list.js",
		media_external_list_url : "lists/media_list.js",
 
		// Style formats
		style_formats : [
			{title : 'Bold text', inline : 'b'},
			{title : 'Red text', inline : 'span', styles : {color : '#ff0000'}},
			{title : 'Red header', block : 'h1', styles : {color : '#ff0000'}},
			{title : 'Example 1', inline : 'span', classes : 'example1'},
			{title : 'Example 2', inline : 'span', classes : 'example2'},
			{title : 'Table styles'},
			{title : 'Table row 1', selector : 'tr', classes : 'tablerow1'}
		],

		// Replace values for the template plugin
		template_replace_values : {
			username : "Some User",
			staffid : "991234"
		}
	});
</script>

<ul>
{% for e in errors %}
	<li>{{e}}</li>
{% endfor %}
</ul>

<form name="quizForm" method="post">
<center><b><input type="text" name="quizTitle" value="{{quiz.text}}" /></b></center>
<table>
{% for q in questions %}
	{% if q.multiplechoicequestion %}
		<tr>
	                <td><input type="text" name="mcq{{q.multiplechoicequestion.order}}order" value="{{q.multiplechoicequestion.order}}" size="3" /></td>
	                <td colspan="2"><textarea name="mcq{{q.multiplechoicequestion.order}}text" style="height: 5em; width: 40em;" class="mceEditor">{{q.multiplechoicequestion.text}}</textarea><input type="submit" name="removeQuestion{{q.multiplechoicequestion.order}}" value="X" /></td>
			<td>Correct</td>
	        </tr>
	        {% for a in q.multiplechoicequestion.answers.all %}
	        <tr>
	            <td></td>
	            <td><input type="radio" name="mcq{{q.multiplechoicequestion.order}}a" disabled="disabled" /></td>
	        	<td><input type="text" name="mcq{{q.multiplechoicequestion.order}}a{{a.order}}" value="{{a.text}}" /><input type="submit" name="removeAnswerQ{{q.multiplechoicequestion.order}}A{{a.order}}" value="X" /></td>
				<td>
					{% if a.correct %}
					<input type="radio" name="mcq{{q.multiplechoicequestion.order}}ac" value="{{a.order}}" checked="checked"/>
					{% else %}
					<input type="radio" name="mcq{{q.multiplechoicequestion.order}}ac" value="{{a.order}}"/>
					{% endif %}
				</td>
	        </tr>
		{% endfor %}
			<tr>
				<td></td>
				<td></td>
				<td><input type="submit" value="Add Answer" name="addAnswer{{q.multiplechoicequestion.order}}" /></td>
			</tr>
	{% endif %}
	{% if q.codequestion %}
	        <tr>
	                <td><input type="text" name="cq{{q.codequestion.order}}order" value="{{q.codequestion.order}}" size="3" /></td>
	                <td colspan="2">Prompt<br /><textarea name="cq{{q.codequestion.order}}text" style="height: 5em; width: 40em;" class="mceEditor">{{q.codequestion.text}}</textarea><input type="submit" name="removeQuestion{{q.codequestion.order}}" value="X" /></td>
			<td></td>
	        </tr>
		<tr>
			<td></td>
			<td colspan="2">Expected Output<br /><textarea name="cq{{q.codequestion.order}}eo" style="height: 5em; width: 40em;">{{q.codequestion.expectedOutput}}</textarea></td>
			<td></td>
		</tr>
	{% endif %}
{% endfor %}
</table>
{% endblock %}

{% block bottombar %}
<table style="border-width: 1px; padding: 1px; border-style: dashed; border-color: black;">
		<tr>
			<td rowspan="3" style="border-width: 1px; padding: 1px; border-style: dashed; border-color: black;">
				Prerequisites
				<br>
				<select size="4" multiple="multiple" style="width: 15em;" name="prereqs">
				{% for page in pages %}
					{% if page.quiz %}
						{% if page.slug in prereqs %}
							<option name="{{page.slug}}" selected="selected">{{page.name}}</option>
						{% else %}
							{% if page.slug != page_slug %}
								<option name="{{page.slug}}">{{page.name}}</option>
							{% endif %}
						{% endif %}
					{% endif %}
				{% endfor %}
				</select>
				<br>
				Hidden:
				{% if quiz.hidden %}
					<input type="checkbox" name="hidden" checked="checked" />
				{% else %}
					<input type="checkbox" name="hidden" />
				{% endif %}
			</td>
			<td>
				<input type="submit" value="New Code Question" name="NewCodeQuestion"/>
			</td>
			<td rowspan="2" style="border-width: 1px; padding: 1px; border-style: dashed; border-color: black;">
				<table>
					<tr>
						<td colspan="2">
							Quiz Paths
						</td>
					</tr>
					<tr>
						<td rowspan="3">
							<select size="4" name="path">
							{% for p in paths %}
								<option value="{{p.lowscore}}">{{p.lowscore}} <= x < {{p.highscore}} --> {{p.toPage.name}}</option>
							{% endfor %}
							</select>
						</td>
						<td>
							<input type="submit" value="Add" name="AddPath"/>
						</td>
					</tr>
					<tr>
						<td>
							<input type="submit" value="Remove" name="RemovePath"/>
						</td>
					</tr>
					<tr>
						<td>
							<input type="submit" value="Edit" name="EditPath"/>
						</td>
					</tr>
				</table>
			</td>
		</tr>
		<tr>
			<td>
				<input type="submit" value="New Multiple Choice Question" name="NewMultQuestion"/>
			</td>
		</tr>
		<tr>
			<td colspan="2">
				<input type="submit" value="Save" name="Save" />
				<input type="submit" value="Cancel" name="Cancel" />
				<input type="submit" value="Delete" name="Delete" />
				<input type="submit" value="Publish" name="Publish"/>
				<input type="submit" value="Revert" name="Revert" />
				<input type="submit" value="Import" onclick="importQuiz()" />
				<input type="submit" value="Move" name="Move"/>
			</td>
		</tr>
</table>
</form>
{% endblock %}
