{% extends "base.html" %}
{% load smart_if %}

{% block content %}
<center><b><font size="4">{{quizTitle}}</font></b></center>
<form name="sumitQuiz" action="{% url pages.quiz.views.submitQuiz course_slug page_slug %}" method="post">
<table>
{% for q in questions %}
	{% if q.multiplechoicequestion %}
		<tr>
	                <td><b>{{q.multiplechoicequestion.order}}</b></td>
	                <td colspan="2">{{q.multiplechoicequestion.text|safe}}</td>
	        </tr>
	        {% for a in q.multiplechoicequestion.answers.all %}
	        <tr>
	                <td></td>
	                <td><input type="radio" name="mcq{{q.multiplechoicequestion.order}}" value="{{a.order}}" /></td>
	                <td>{{a.text}}</td>
	        </tr>
		{% endfor %}
	{% endif %}
	{% if q.codequestion %}
	        <tr>
	                <td><b>{{q.codequestion.order}}</b></td>
	                <td colspan="2">{{q.codequestion.text|safe}}</td>
	        </tr>
	        <tr>
	                <td></td>
	                <td colspan="2"><textarea name="cq{{q.codequestion.order}}" style="height: 10em; width: 20em;"></textarea></td>
	
	        </tr>
	{% endif %}
{% endfor %}
</table>
<center><input type="submit" value="Submit Quiz" /></center>
</form>
{% endblock %}
