/*
 * primary light:   #D1FC9D
 * secondary light: #E9FAD4
 * primary dark:    #2D5231
 * secondary dark:  #193B1D
 * disabled text:   #507959
 */

body {
	color: #193B1D;
	background-color: #D1FC9D;
}

#top-nav {
	background-color: #2D5231;
	color: #D1FC9D;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
}

#top-nav a {
	color: #D1FC9D;
	text-decoration: none;
}

#top-nav #nav {
	font-family: serif;
}

#top-nav #nav div:hover {
	background-color: #193B1D;
}

#top-nav #nav div:hover a {
	color: #E9FAD4;
}

#top-nav #user a {
	text-decoration: underline;
}

.nav-disabled {
	color: #507959;
}

.nav-disabled:hover {
	background-color: #2D5231 !important;
}

.button {
	background-image: url('/media/images/light/button.png');
	background-repeat: repeat-x;
	background-position: center center;
	height: 16px;
	display: inline-block;
	font-size: 16px;
	vertical-align: middle;
	text-decoration: none;
	padding: 8px;
	padding-bottom: 15px;
	color: #D1FC9D;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
}

.button:active {
	background-image: url('/media/images/light/button_pressed.png');
	color: #D1FC9D;
}

.button:hover {
	color: #D1FC9D;
}

#page-list li {
	list-style: url('/media/images/light/bullet.png');
}

#page-list a {
	color: #193B1D;
}

#main-content {
	border-left: dashed #2D5231 1px;
}
